dashboard_withMap.json
[
    {
        "id": "e467b959f6d38e64",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51628761fd51fd26",
        "type": "mqtt in",
        "z": "e467b959f6d38e64",
        "name": "",
        "topic": "datainput",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "30ae3f96046b774d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "c7b6ff5e99d359e8"
            ]
        ]
    },
    {
        "id": "17cb8f1c412d2c92",
        "type": "mqtt out",
        "z": "e467b959f6d38e64",
        "name": "",
        "topic": "etsw/navigation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6474fd89f488c939",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "899221a64b023d98",
        "type": "ui_gauge",
        "z": "e467b959f6d38e64",
        "name": "",
        "group": "aa61a000818c41a0",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Speed",
        "label": "cm/s",
        "format": "{{value}}",
        "min": 0,
        "max": "16384",
        "colors": [
            "#448844",
            "#e7b018",
            "#bd0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "f082615a127a0bee",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "get speed",
        "func": "msg.payload = msg.payload.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "899221a64b023d98"
            ]
        ]
    },
    {
        "id": "c7b6ff5e99d359e8",
        "type": "switch",
        "z": "e467b959f6d38e64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "speed",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "turning",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "distanceWhole",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "humpHeight",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "barcode",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "coordinates",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "f082615a127a0bee"
            ],
            [
                "bebc53270f25a8d5"
            ],
            [
                "70b672fac08124aa"
            ],
            [
                "b9ac0bc4e69184ef"
            ],
            [
                "b09705f6fd956457"
            ],
            [
                "6b9d25fe4ac4147a"
            ]
        ]
    },
    {
        "id": "4d8aa02f98ebd342",
        "type": "ui_chart",
        "z": "e467b959f6d38e64",
        "name": "",
        "group": "aa61a000818c41a0",
        "order": 3,
        "width": 6,
        "height": "3",
        "label": "Hump Height",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#bf1d1d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#9b1212",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "60485e9695d02f01",
        "type": "ui_button",
        "z": "e467b959f6d38e64",
        "name": "",
        "group": "d1632407d6131951",
        "order": 26,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Set Endpoint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "pin_drop",
        "payload": "endpoint",
        "payloadType": "global",
        "topic": "payload",
        "topicType": "msg",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "17cb8f1c412d2c92"
            ]
        ]
    },
    {
        "id": "07650b786ed28da1",
        "type": "debug",
        "z": "e467b959f6d38e64",
        "name": "print@start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "3c9c9a37e798a7ac",
        "type": "change",
        "z": "e467b959f6d38e64",
        "name": "Temp store endpoint",
        "rules": [
            {
                "t": "set",
                "p": "endpoint",
                "pt": "global",
                "to": "payload.coordinates",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "60485e9695d02f01"
            ]
        ]
    },
    {
        "id": "b09705f6fd956457",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "get barcode",
        "func": "msg.payload = msg.payload.barcode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "8bb0913411b1c114"
            ]
        ]
    },
    {
        "id": "b9ac0bc4e69184ef",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "get hump height",
        "func": "msg.payload = msg.payload.humpHeight;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "4d8aa02f98ebd342"
            ]
        ]
    },
    {
        "id": "6b9d25fe4ac4147a",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "extract coords & nav dir",
        "func": "var payload = {\n    x: Math.floor(msg.payload.coordinates/10),\n    y: msg.payload.coordinates%10,\n    coordinates: msg.payload.coordinates,\n    nav_dir: msg.payload.nav_dir\n};\nmsg.payload = payload;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "3c9c9a37e798a7ac",
                "a51e4e143e968e15",
                "3a8b48c10e40a718",
                "299fb8a78e0fef7c",
                "5ed2feff43f70c5f"
            ]
        ]
    },
    {
        "id": "178fbcad236bf9a0",
        "type": "ui_gauge",
        "z": "e467b959f6d38e64",
        "name": "",
        "group": "aa61a000818c41a0",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Turning",
        "label": "L to R",
        "format": "",
        "min": 0,
        "max": "2",
        "colors": [
            "#00a1d6",
            "#cfcfcf",
            "#cc9600"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "8bb0913411b1c114",
        "type": "ui_text",
        "z": "e467b959f6d38e64",
        "group": "aa61a000818c41a0",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Barcode",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "bebc53270f25a8d5",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "get turning direction",
        "func": "msg.payload = msg.payload.turning;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "178fbcad236bf9a0"
            ]
        ]
    },
    {
        "id": "70b672fac08124aa",
        "type": "function",
        "z": "e467b959f6d38e64",
        "name": "get distance",
        "func": "msg.payload = msg.payload.distanceWhole + 1/1000*msg.payload.distanceDecimal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "3445740b5cabee36"
            ]
        ]
    },
    {
        "id": "3445740b5cabee36",
        "type": "ui_text",
        "z": "e467b959f6d38e64",
        "group": "aa61a000818c41a0",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Total Distance Travelled",
        "format": "{{msg.payload}} cm",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "6a25ada30dbc35b1",
        "type": "inject",
        "z": "e467b959f6d38e64",
        "name": "dummy data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"speed\":300,\"turning\":2,\"distanceWhole\":34,\"distanceDecimal\":234,\"coordinates\":0,\"nav_dir\":\".m==JE\",\"humpHeight\":2,\"barcode\":\"audsfouqh2ewcd\"}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "c7b6ff5e99d359e8",
                "07650b786ed28da1"
            ]
        ]
    },
    {
        "id": "a51e4e143e968e15",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "00",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "    <div class=\"status\">\n<table  class=\"table_status\">\n    <tr><td class=\"circle\"><svg height=\"30\" width=\"30\">\n<circle cx=\"15\" cy=\"15\" r=\"15\"  style=\"stroke: none; fill: {{(msg.payload.coordinates == 0) ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[0]}}</text>\n</svg></td>\n</tr>\n    </table>\n\n    </div>\n    \n    <!-- <div layout=\"row\" layout-align=\"center\">\n    <font color=\"{{((msg.payload || 0) % 2 === 0) ? 'green' : 'red'}}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'o' : 'x'}}\n    </font>\n</div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "49155b48e7a9e4f1"
            ]
        ]
    },
    {
        "id": "49155b48e7a9e4f1",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "01",
        "order": 2,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==1 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[1]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 260,
        "wires": [
            [
                "ebbcb4cbf8a07ac2"
            ]
        ]
    },
    {
        "id": "ebbcb4cbf8a07ac2",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "02",
        "order": 3,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==2 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[2]}}</text>\n                        font-size=\"20\">{{msg.payload.nav_dir}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "33e0be368d62417f"
            ]
        ]
    },
    {
        "id": "4426fb5ffa3e4c5c",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "04",
        "order": 5,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==4 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[4]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "33e0be368d62417f",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "03",
        "order": 4,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==3 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[3]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "4426fb5ffa3e4c5c"
            ]
        ]
    },
    {
        "id": "081dee8ab514be2d",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "11",
        "order": 8,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==11 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[6]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "cd5e4867d4579804"
            ]
        ]
    },
    {
        "id": "3a8b48c10e40a718",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "10",
        "order": 7,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==10 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[5]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "081dee8ab514be2d"
            ]
        ]
    },
    {
        "id": "ad0e8a5e1fa1a257",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "21",
        "order": 14,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==21 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[11]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "80355cfd8668aaa8"
            ]
        ]
    },
    {
        "id": "299fb8a78e0fef7c",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "20",
        "order": 13,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==20 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[10]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "ad0e8a5e1fa1a257"
            ]
        ]
    },
    {
        "id": "157a4d52a1c7f944",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "31",
        "order": 20,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==31 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[16]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "e002e22614a2e273"
            ]
        ]
    },
    {
        "id": "5ed2feff43f70c5f",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "30",
        "order": 19,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==30 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[15]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "157a4d52a1c7f944"
            ]
        ]
    },
    {
        "id": "cd5e4867d4579804",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "12",
        "order": 9,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==12 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[7]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "923d2d34eb91ca76"
            ]
        ]
    },
    {
        "id": "455794da359ab14f",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "14",
        "order": 11,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==14 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[9]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "923d2d34eb91ca76",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "13",
        "order": 10,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==13 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[8]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "455794da359ab14f"
            ]
        ]
    },
    {
        "id": "80355cfd8668aaa8",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "22",
        "order": 15,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==22 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[12]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "2ca4724d888a36d8"
            ]
        ]
    },
    {
        "id": "6e5313889284880e",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "24",
        "order": 17,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==24 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[14]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2ca4724d888a36d8",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "23",
        "order": 16,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==23 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[13]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "6e5313889284880e"
            ]
        ]
    },
    {
        "id": "e002e22614a2e273",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "32",
        "order": 21,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==32 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[17]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "31e2462f1fbf2666"
            ]
        ]
    },
    {
        "id": "4ff6c063b4348309",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "34",
        "order": 23,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==34 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[19]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "31e2462f1fbf2666",
        "type": "ui_template",
        "z": "e467b959f6d38e64",
        "group": "d1632407d6131951",
        "name": "33",
        "order": 22,
        "width": 1,
        "height": 1,
        "format": "<div class=\"status\">\n    <table class=\"table_status\">\n        <tr>\n            <td class=\"circle\"><svg height=\"30\" width=\"30\">\n                    <circle cx=\"15\" cy=\"15\" r=\"15\"\n                        style=\"stroke: none; fill: {{msg.payload.coordinates==33 ? 'lightGreen' : 'white' }};\"/>\n<text x=\"15\" y=\"23\" text-anchor=\"middle\" fill=\"black\" font-size=\"20\">{{msg.payload.nav_dir[18]}}</text>\n                </svg></td>\n        </tr>\n    </table>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "4ff6c063b4348309"
            ]
        ]
    },
    {
        "id": "49edea0c700bbb1c",
        "type": "mqtt in",
        "z": "e467b959f6d38e64",
        "name": "",
        "topic": "etsw/navigation",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6474fd89f488c939",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "708c7dc06238db14"
            ]
        ]
    },
    {
        "id": "708c7dc06238db14",
        "type": "debug",
        "z": "e467b959f6d38e64",
        "name": "print@navendpt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "4bd1d05943ad84c7",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b64139266caa777",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "67f3f5d40afc46fc",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "54bffb6465f5f329",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb0d4bbd6c36128e",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "833d8fc24a339296",
        "type": "ui_spacer",
        "z": "e467b959f6d38e64",
        "name": "spacer",
        "group": "d1632407d6131951",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "30ae3f96046b774d",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6474fd89f488c939",
        "type": "mqtt-broker",
        "name": "hive",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa61a000818c41a0",
        "type": "ui_group",
        "name": "Live stats",
        "tab": "7e3fa99154726337",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1632407d6131951",
        "type": "ui_group",
        "name": "Navigation",
        "tab": "7e3fa99154726337",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e3fa99154726337",
        "type": "ui_tab",
        "name": "Crash & Burn's Dashboard (B2)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]